/* **********************GOOGLE FONT LINK**************** */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

body {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #516dff;
  color: white;
  overflow: hidden;
}

a{
  color: white;
}
h1{
  line-height: 1.4;
}

.screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  transition: margin .5s ease-out;
}
.screen.up{
  margin-top: -100vh;
}


.insects-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;

}
.insects-list li{
  margin: 10px;

}

.choose-insect-btn{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  width: 150px;
  height: 150px;
}
.choose-insect-btn:hover{
  background-color: white;
  color: #516dff;
}
.choose-insect-btn:active{
  background-color: rgba(255, 255, 255, 0.7);
}

.choose-insect-btn img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.btn{
  border: 0;
  background-color: white;
  color: #516dff;
  padding: 15px 20px;
  cursor: pointer;

}
.btn:hover{
  opacity: 0.8;
}

.game-container{
  position: relative;

}
.time, .score{
  position:absolute;
  top: 20px;

}
.time{
  left: 20px;
}
.score{
  right: 20px;
}
.message{
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 20px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0,4s ease-in;
}
.message.vissible{
  opacity: 1;
  transform: translate(-50%, 150%);

}
.insect{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1);
  transition: transform .3s ease-out;
}
.insect.caught{
  transform: translate(-50%, -50%) scale(0);
}
.insect img{
  width: 100px;
  height: 100px;
}